<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.


<f:section name="content">
  <f:flashMessages />
  <f:if condition="{settings.displayMode}">
    <f:switch expression="{settings.displayMode}">
      <f:case value="list">
        <table class="tx_lespfcalendar">
        <tr>
          <th><f:translate key="tx_lespfcalendar_domain_model_calendar.month" /></th>
          <th><f:translate key="tx_lespfcalendar_domain_model_calendar.year" /></th>
        </tr>
        <f:for each="{calendars}" as="calendar">
          <tr>
	    <td><f:link.action action="show" arguments="{calendar : calendar, 'month' : calendar.month, 'year' : calendar.year}">{calendar.month}</f:link.action></td>
            <td>{calendar.year}</td>
          </tr>
        </f:for>
        </table>
      </f:case>
      <f:case value="single">
        <f:render partial="Calendar/Weeks" arguments="{calendar: calendars.0, 'month' : calendars.0.month, 'year' : calendars.0.year}" />
      </f:case>
    </f:switch>
  </f:if>
</f:section>
</html>
