<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view

<f:section name="content">
    <f:flashMessages />
    <f:render partial="Calendar/Weeks" arguments="{calendar:calendar}" />
</f:section>
</html>
