<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-lespf-calendar">
<tr>
<td><f:link.action action="show"
arguments="{month : calendar.prevMonth.month , 'year' : calendar.prevMonth.year}">&lt;</f:link.action></td>
<th colspan="5" class="lespf_calendar">
{calendar.month}-{calendar.year}</th>
<td><f:link.action action="show"
arguments="{month : calendar.nextMonth.month , 'year' : calendar.nextMonth.year}">&gt;</f:link.action></td>
</tr>
<tr>
<f:if condition="{calendar.weekStart} == 1"><f:then></f:then><f:else>
  <td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.sunday" /></td>
</f:else></f:if>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.monday" /></td>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.tuesday" /></td>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.wednesday" /></td>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.thursday" /></td>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.friday" /></td>
<td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.saturday" /></td>
<f:if condition="{calendar.weekStart} == 1"><f:then>
  <td class="cal-dayhead"><f:translate key="tx_lespfcalendar_domain_model_calendar.sunday" /></td>
</f:then><f:else></f:else></f:if>
</tr><tr><f:for each="{calendar.daySlots}" as="cell" iteration="iterator">
      <td class="{cell.class}">{cell.number}</td><f:if condition="{iterator.cycle}%7"><f:then></f:then><f:else></tr><tr></f:else></f:if></f:for></tr>
</table>
</html>
