th.lespf_calendar {
    text-align: center;
}
td.cal-weekday-MO, td.cal-weekday-TU, td.cal-weekday-WE,
td.cal-weekday-TH, td.cal-weekday-FR, td.cal-weekday-SA,
td.cal-weekday-SU
{
    width: 2.5em;
    text-align: center;
    padding: 3px;
}
td.cal-weekday-SA, td.cal-weekday-SU, td.cal-evt-holiday  {
    background-color: #dddddd;
}
td.cal-evt-cat-6 {
    background-color: #efefef;
}
td.cal-evt-cat-7 {
    background-color: #ffdddd;
}
td.cal-evt-cat-20 {
    background-color: #ffff00;
}
td.cal-evt-cat-40, td.cal-evt-cat-41 {
    color: #cc0000;
}
td.cal-today {
    padding: 1px;
    border: 2px solid;
    border-color: red;
    border-radius: 10%;
}
